@font-face {
    font-family: BebasNeue-Bold;
    src: url(fonts/bebas_neue/BebasNeue-Bold.otf);
}
@font-face {
    font-family: BebasNeue-Book;
    src: url(fonts/bebas_neue/BebasNeue-Book.otf);
}
@font-face {
    font-family: BebasNeue-Light;
    src: url(fonts/bebas_neue/BebasNeue-Light.otf);
}
@font-face {
    font-family: BebasNeue-Regular;
    src: url(fonts/bebas_neue/BebasNeue-Regular.otf);
}
@font-face {
    font-family: BebasNeue-Thin;
    src: url(fonts/bebas_neue/BebasNeue-Thin.otf);
}
@font-face {
    font-family: Roboto-Light;
    src: url(fonts/Roboto-Light.woff);
}
